  *{
  padding: 0px;
  margin: 0px;
  font-family: "Madimi One";
  font-weight: 400;
  font-size: 32px;
  line-height: 105%;

  }
  /**Animation/
  /*best seen at 1500px or less*/
  
  html, body { height: 100%; }
  body {
    background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
    overflow: hidden;
    flex-wrap: wrap;
  }
  
  /*Animation*/
  
  .img_ALURA, .img_ONE{ /*Logo Alura*/
   padding-top: 10px;
   margin-left: 1px;
   width: 9%;
  }

main {
  display: flex;
  margin-bottom: 50px;
  margin-left: 100px;
  width: 100%;
}

.botones{
  margin-top: 3em;
  margin-right: 20px;
}

.btn_encriptar{
  background-color: #36d4b2;
  border: 5px solid #36d4b2;
  border-radius: 24px;
  color: #0763d4;
  cursor: pointer;
  height: 67px;
  width: 325px;
  text-align: left;
  transition: 1s all;
}

.btn_encriptar:hover{
  background-color: #0763d4;
  border: 5px solid #0763d4;
  color: azure;
}

.btn_encriptar::before{
  content: "🔐";
}

.btn_desencriptar{
  display: block;
  margin: 15px 0;
  background-color: #fffeea;
  border: 5px solid #36d4b2;
  border-radius: 24px;
  color: #0763d4;
  cursor: pointer;
  height: 67px;
  width: 325px;
  text-align: left;
  transition: 1s all;
}

.btn_desencriptar::before{
  content: "🔓";
}

.btn_desencriptar:hover{
  background-color: #36d4b2;
  border: 5px solid #0763d4;
  color: #0763d4;
}


.copiar{
  background-color: #fffeea;
  border: 5px solid #36d4b2;
  border-radius: 24px;
  color: #0763d4;
  cursor: pointer;
  height: 67px;
  width: 158px;
  text-align: left;
  transition: 1s all;
}

.copiar:hover{
  background-color: #36d4b2;
  border: 5px solid #0763d4;
}

.copiar::before{
  content: "📑";
}

.Pegar{
  background-color: #fffeea;
  border: 5px solid #36d4b2;
  border-radius: 24px;
  color: #0763d4;
  cursor: pointer;
  height: 67px;
  width: 158px;
  text-align: left;
  transition: 1s all;

}

.Pegar:hover{
  background-color: #36d4b2;
  border: 5px solid #0763d4;
}

.Pegar::before{
  content: "📋";
}

.informacion{
  font-size: 15px;
  color: #495057;
  margin-top: -380px;
  text-align: end;
}

.informacion::before{
  content: "*";
}

.txtArea_encriptar{
  background: transparent;
  border: none;      /*elimina el borde*/
  color: #0763d4;  /*color de txt*/
  margin-top: 90px;  /*margene superior*/
  text-transform: lowercase;   /*txt en minuscula*/
  text-decoration-line: none; 
}
  ::placeholder{color: #046682;}  /*Color de la seudoetiqueta*/
  .txtArea_encriptar:focus{          
  outline: none                      /*elimina el foco*/
}

.txtArea_Desencriptar{ 
  background: transparent;
  background-image: url("img/pulpo.png");
  position: static;
  background-repeat: no-repeat;
  background-position: top;
  border-radius: 24px;
  margin-left: 15px;
  margin-top: -50px;
  padding-left: 20px;
  position: fixed;
  border: 4px solid rgb(23, 209, 219);
  height:  550px;
  color: #0763d4;

}

.txtArea_Desencriptar:focus{
  outline: none;
}

#info_desencriptar{
  margin-top: 300px;
  font-size: 20px;
  text-align: center;
  color: #046682;
  width: 380px;

  }

.mensaje_en_espera_2{
  font-size: 16px;
  text-align: center;
  width: 240px;
  margin-left: 80px;
  color: #60a2b4;

}
  /*Animation*/
.ocean { 
    height: 5%;
    width:100%;
    position:absolute;
    bottom:0;
    left:0;
    background: #015871;
  }
  
  .wave {
    background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
    position: absolute;
    top: -198px;
    width: 6400px;
    height: 198px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
    transform: translate3d(0, 0, 0);
  }
   
  .wave:nth-of-type(2) {
    top: -175px;
    animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
    opacity: 1;
  }
 

  @keyframes wave {
    0% {
      margin-left: 0;
    }
    100% {
      margin-left: -1600px;
    }
  }
  
  @keyframes swell {
    0%, 100% {
      transform: translate3d(0,-25px,0);
    }
    50% {
      transform: translate3d(0,5px,0);
    }
  }

  
  /*Animation*/

footer{
  background:linear-gradient( #fffeea 4%, #015871 20%);
  height: 100%;
 }

.roda_pie{
  background-image: url(img/background-printed-circuit.webp) transparent;
  display: flex;
  position: absolute;
}

.links_logos{
  list-style: none;
  position: relative;
}

.Logo_github{
  margin-left: 100px;
  position: absolute;
  margin-top: -110px;

}

.copyright{
  margin-top: 80px;
  margin-left: 200px;
  font-family: "Madimi One";
  color: white;
  text-align: center;
}

  /*Resposivo*/
  @media screen and (max-width:480px){
    
  
  }




